/*781px a 1200px*/

/*Generales*/

* {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

body {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

/* Header*/

header {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1001;
  background-color: #f1ebeb;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.header__logo {
  width: 150px;
  margin: 0px;
}

.nav-link {
  font-size: 16px;
  letter-spacing: 2px;
  width: auto;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5px;
}

.navbar-nav {
  justify-content: space-evenly;
}
.nav-link:hover {
  background-color: white;
  opacity: 60%;
}
.active {
  font-weight: bold;
}

h1 {
  font-size: 30px;
  color: grey;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  background-color: #a3e1e4;
  opacity: 80%;
  padding: 20px;
}

h2 {
  font-size: 40px;
  color: black;
  font-weight: 300;
  letter-spacing: 5px;
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

/*Multimedia*/

.portada {
  width: 100%;
}

#imgwapp2 {
  width: 40px;
  height: 40px;
  padding: 5px;
}
#imgmail2 {
  width: 40px;
  height: 40px;
  padding: 5px;
}
#imgwapp {
  width: 40px;
  height: 40px;
  padding: 5px;
}
#imgmail {
  width: 40px;
  height: 40px;
  padding: 5px;
}
#imgubicacion {
  width: 35px;
  height: 40px;
  padding: 5px;
}

/*Botones portada*/

.button1 {
  position: absolute;
  top: 20%;
  left: 15%;
}

.button2 {
  position: absolute;
  top: 20%;
  right: 15%;
}

.btn2 {
  font-size: 10px;
  color: black;
  margin: 0 auto;
  background-color: white;
  text-transform: uppercase;
  padding: 15px;
  border: 0px solid;
  opacity: 80%;
  color: black;
  width: auto;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
}

span {
  font-size: 18px;
  color: black;
  margin: 0 auto;
  background-color: #a3e1e4;
  text-transform: uppercase;
  padding: 10px;
  border: 0px solid;
  opacity: 80%;
  display: block;
  margin-top: 2px;
  font-weight: bold;
}

.btn2:hover {
  color: black;
}

a span:hover {
  color: white;
  background-color: black;
}

/* Cards*/

.fondo3 {
  background-image: url(../img/fondocovid1.jpeg);
  width: 100%;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-bottom: 20px;
}
.card {
  display: inline-block;
  margin-right: 40px;
  margin-left: 40px;
  text-align: left;
  font-size: 15px;
  height: 400px;
  box-shadow: inset 0.3em 0.3em 1em rgba(0, 0, 0, 0.3),
    0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255);
  color: black;
  border: 2px solid white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-title {
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
}

.card-group {
  margin: 20px;
}

h5 {
  font-size: 20px;
  text-align: left;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.btn {
  font-size: 14px;
  border: 5px solid #a3e1e4;
  color: black;
  margin: 0 auto;
  width: auto;
  background-color: white;
  text-transform: uppercase;
  margin-left: 5px;
  border-radius: 0px;
  opacity: 70%;
}

.btn:hover {
  border: 5px solid #a3e1e4;
  background-color: #a3e1e4;
  color: black;
  margin: 0 auto;
  text-transform: uppercase;
  margin-left: 5px;
  opacity: 70%;
}
.reset {
  font-size: 15px;
  text-align: center;
  color: #057b80;
  text-decoration: none;
}

.reset:hover {
  font-size: 15px;
  color: #057b80;
  font-weight: bold;
  text-decoration: underline;
}

/*Cotizador*/

.fondo {
  background-image: url(../img/fotocovid.jpeg);
  width: 100%;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.formCotizador {
  padding: 1em;
  display: block;
  width: 40%;
  text-align: center;
  opacity: 100%;
}

.inputForm2 {
  background-color: #f8f8f8;
  border-radius: 0.5em;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  font-size: 15px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin: auto;
  padding: 10px;
}

select:focus {
  outline: none;
}
label {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 10px;
  text-align: left;
}
#calcular {
  margin: 20px;
  font-size: 20px;
  background-color: white;
  color: black;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  opacity: 70%;
}

#calcular:hover {
  background-color: #a3e1e4;
}

.btnCalcular {
  margin: 20px;
  font-size: 15px;
  color: black;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 10px;
  text-transform: uppercase;
  border: 5px solid #a3e1e4;
}

.btnCalcular:hover {
  opacity: 70%;
  border: 5px solid white;
}

#solicitud {
  font-size: 40px;
  text-align: center;
  color: #057b80;
  background-color: white;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 20px;
  opacity: 90%;
}

/*Formulario*/

.fondo2 {
  background-image: url(../img/contactanos2.png);
  width: 100%;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-bottom: 20px;
}

.center {
  padding: 10px;
  text-align: center;
}
.formContacto {
  padding: 1em;
  display: block;
  width: 40%;
  text-align: center;
  margin-left: 60%;
}

.inputForm {
  background-color: #f8f8f8;
  border-radius: 0.5em;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

textarea:focus,
input:focus {
  outline: none;
}
#botonEnviar {
  margin: 20px;
  font-size: 15px;
  background-color: white;
  color: black;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 10px;
  text-transform: uppercase;
  border: 5px solid #a3e1e4;
}

#botonEnviar:hover {
  background-color: #a3e1e4;
  color: black;
  opacity: 70%;
  border: 5px solid white;
}

.botonLimpiar {
  margin: 20px;
  font-size: 15px;
  background-color: white;
  color: black;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 10px;
  text-transform: uppercase;
  opacity: 70%;
  border: 1px solid black;
}

.botonLimpiar:hover {
  color: white;
  background-color: black;
  border: 1px solid white;
}

h3 {
  font-size: 25px;
  text-align: center;
  color: black;
}

#gracias {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: #057b80;
  background-color: white;
  opacity: 70%;
  margin: 0px;
  margin-left: 60%;
}

h4 {
  font-size: 30px;
  text-align: center;
}

/*Footer*/

.padre {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  text-align: center;
  height: auto;
}

.hijo {
  margin: 0;
  text-align: center;
  width: 100%;
}

.columna {
  width: 30%;
  padding: 15px;
  display: inline-block;
  text-align: center;
}

.datos {
  text-align: center;
  margin: 0px;
}
.datos__texto--contenido {
  text-transform: none;
  letter-spacing: 0px;
  display: inline;
  text-align: center;
}

.textocontacto {
  text-decoration: none;
  color: grey;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a.textocontacto:hover {
  color: #11a99d;
  text-decoration: underline;
}

footer {
  margin: 0px;
}

/*Responsive Intermedio Especifico */

@media screen and (min-width: 480px) and (max-width: 1050px) {
  /* Cards*/

  .fondo3 {
    background-image: url(../img/fondocovid1.jpeg);
    width: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-bottom: 20px;
  }
  .card {
    display: block;
    font-size: 15px;
    box-shadow: inset 0.3em 0.3em 1em rgba(0, 0, 0, 0.3),
      0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255);
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
  }

  .card-title {
    font-size: 25px;
    text-align: center;
  }

  .card-group {
    display: block;
  }

  .btn {
    font-size: 15px;
    border: 5px solid #a3e1e4;
    color: black;
    margin: 0 auto;
    width: auto;
    background-color: white;
    text-transform: uppercase;
    margin-left: 5px;
    border-radius: 0px;
    opacity: 70%;
  }

  .btn:hover {
    border: 5px solid #a3e1e4;
    background-color: #a3e1e4;
    color: black;
    margin: 0 auto;
    text-transform: uppercase;
    margin-left: 5px;
    opacity: 70%;
  }
  h5 {
    font-size: 20px;
    text-align: left;
    margin: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }

  .reset {
    font-size: 15px;
    text-align: center;
    color: #057b80;
    text-decoration: none;
  }

  .reset:hover {
    font-size: 15px;
    color: #057b80;
    font-weight: bold;
    text-decoration: underline;
  }

  /*Cotizador*/

  .fondo {
    background-image: url(../img/fotocovid.jpeg);
    width: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
  }

  .formCotizador {
    padding: 1em;
    display: block;
    width: 40%;
    text-align: center;
    opacity: 100%;
  }

  #calcular {
    margin: 20px;
    font-size: 20px;
    background-color: white;
    color: black;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    opacity: 70%;
  }

  #calcular:hover {
    background-color: #a3e1e4;
  }

  .btnCalcular {
    margin: 20px;
    font-size: 15px;
    color: black;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 10px;
    text-transform: uppercase;
    border: 5px solid #a3e1e4;
  }

  .btnCalcular:hover {
    opacity: 70%;
    border: 5px solid white;
  }

  #solicitud {
    font-size: 40px;
    text-align: center;
    color: #057b80;
    background-color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 20px;
    opacity: 90%;
  }
}

/*Responsive Tablet */

@media screen and (min-width: 480px) and (max-width: 780px) {
  /*Generales*/

  * {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  body {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }

  /* Header*/

  header {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1001;
    background-color: #f1ebeb;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }

  .header__logo {
    width: 150px;
    margin: 0px;
  }

  .nav-link {
    font-size: 12px;
    letter-spacing: 2px;
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 5px;
  }

  .navbar-nav {
    justify-content: space-evenly;
  }
  .nav-link:hover {
    background-color: white;
    opacity: 60%;
  }
  .active {
    font-weight: bold;
  }

  h1 {
    font-size: 30px;
    color: grey;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    background-color: #a3e1e4;
    opacity: 80%;
    padding: 20px;
  }

  h2 {
    font-size: 30px;
    color: black;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  /*Multimedia*/

  .portada {
    width: 100%;
  }

  #imgwapp2 {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  #imgmail2 {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  #imgwapp {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  #imgmail {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  #imgubicacion {
    width: 25px;
    height: 30px;
    padding: 5px;
  }

  /*Botones portada*/

  .button1 {
    position: absolute;
    top: 20%;
    left: 15%;
  }

  .button2 {
    position: absolute;
    top: 20%;
    right: 15%;
  }

  .btn2 {
    font-size: 8px;
    color: black;
    margin: 0 auto;
    background-color: white;
    text-transform: uppercase;
    padding: 10px;
    border: 0px solid;
    opacity: 80%;
    color: black;
    width: auto;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
  }

  span {
    font-size: 15px;
    color: black;
    margin: 0 auto;
    background-color: #a3e1e4;
    text-transform: uppercase;
    padding: 10px;
    border: 0px solid;
    opacity: 80%;
    display: block;
    margin-top: 2px;
  }

  .btn2:hover {
    color: black;
  }

  a span:hover {
    color: white;
    background-color: black;
  }

  /*Cotizador*/

  .fondo {
    background-image: url(../img/fotocovid.jpeg);
    width: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-bottom: 20px;
  }

  .formCotizador {
    padding: 1em;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 100%;
  }

  .inputForm2 {
    background-color: #f8f8f8;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin: auto;
    padding: 10px;
  }

  label {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: left;
  }
  #calcular {
    margin: 20px;
    font-size: 20px;
    background-color: white;
    color: black;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    opacity: 70%;
  }

  #calcular:hover {
    background-color: #a3e1e4;
  }

  .btnCalcular {
    margin: 20px;
    font-size: 15px;
    color: black;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 10px;
    text-transform: uppercase;
    border: 5px solid #a3e1e4;
  }

  .btnCalcular:hover {
    opacity: 70%;
    border: 5px solid white;
  }

  #solicitud {
    font-size: 30px;
    text-align: center;
    color: #057b80;
    background-color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0px;
    border-radius: 20px;
    opacity: 90%;
  }

  /*Formulario*/

  .fondo2 {
    background-image: url(../img/contactanos2.png);
    width: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
  }

  .center {
    padding: 10px;
    text-align: center;
    background-color: #f1ebeb;
    padding: 10px;
    color: black;
    margin-bottom: 4px;
    border-radius: 20px;
  }
  .formContacto {
    padding: 1em;
    display: block;
    width: 100%;
    text-align: center;
    margin-left: 0%;
  }

  .inputForm {
    background-color: #f8f8f8;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }

  select:focus {
    outline: none;
  }
  textarea:focus,
  input:focus {
    outline: none;
  }

  #botonEnviar {
    margin: 20px;
    font-size: 15px;
    background-color: white;
    color: black;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 10px;
    text-transform: uppercase;
    border: 5px solid #a3e1e4;
  }

  #botonEnviar:hover {
    background-color: #a3e1e4;
    color: black;
    opacity: 70%;
    border: 5px solid white;
  }

  .botonLimpiar {
    margin: 20px;
    font-size: 15px;
    background-color: white;
    color: black;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 10px;
    text-transform: uppercase;
    opacity: 70%;
    border: 1px solid black;
  }

  .botonLimpiar:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
  }

  h3 {
    font-size: 25px;
    text-align: center;
    color: black;
  }

  #gracias {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: #057b80;
    background-color: white;
    opacity: 70%;
    margin: 0px;
  }

  h4 {
    font-size: 30px;
    text-align: center;
  }

  /*Footer*/

  .padre {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    text-align: center;
    height: auto;
  }

  .hijo {
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .columna {
    width: 30%;
    padding: 15px;
    display: inline-block;
    text-align: center;
  }

  .datos {
    text-align: center;
    margin: 0px;
  }

  .datos__texto--contenido {
    text-transform: none;
    letter-spacing: 0px;
    display: inline;
    text-align: center;
  }

  .textocontacto {
    text-decoration: none;
    color: grey;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    font-size: 8px;
  }

  a.textocontacto:hover {
    color: #11a99d;
    text-decoration: underline;
  }

  footer {
    margin: 0px;
  }
}

/* Responsive Celular */
@media screen and (max-width: 480px) {
  /*Generales*/

  * {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  body {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }

  /* Header*/

  header {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1001;
    background-color: #f1ebeb;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }

  .header__logo {
    width: 150px;
    margin: 0px;
  }

  .nav-link {
    font-size: 10px;
    letter-spacing: 2px;
    padding: 2px;
  }

  .nav-link:hover {
    background-color: white;
    opacity: 60%;
  }
  .active {
    font-weight: bold;
  }

  h1 {
    font-size: 20px;
    color: grey;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    background-color: #a3e1e4;
    opacity: 80%;
    padding: 20px;
  }
  h2 {
    font-size: 30px;
    color: black;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  /*Multimedia*/

  .portada {
    width: 100%;
  }

  #imgwapp2 {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  #imgmail2 {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  #imgwapp {
    width: 40px;
    height: 40px;
    padding: 5px;
  }
  #imgmail {
    width: 40px;
    height: 40px;
    padding: 5px;
  }
  #imgubicacion {
    width: 35px;
    height: 40px;
    padding: 5px;
  }

  /*Botones portada*/

  .button1 {
    position: absolute;
    top: 15%;
    left: 15%;
  }

  .button2 {
    position: absolute;
    top: 15%;
    right: 15%;
  }

  .btn2 {
    font-size: 6px;
    color: black;
    margin: 0 auto;
    background-color: white;
    text-transform: uppercase;
    padding: 5px;
    border: 0px solid;
    opacity: 80%;
    color: black;
    width: auto;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
  }

  span {
    font-size: 10px;
    color: black;
    margin: 0 auto;
    background-color: #a3e1e4;
    text-transform: uppercase;
    padding: 5px;
    border: 0px solid;
    opacity: 80%;
    display: block;
    margin-top: 2px;
    font-weight: bold;
  }

  .btn2:hover {
    color: black;
  }

  a span:hover {
    color: white;
    background-color: black;
  }

  /* Cards*/

  .fondo3 {
    background-image: url(../img/fondocovid1.jpeg);
    width: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-bottom: 20px;
  }
  .card {
    display: block;
    font-size: 15px;
    box-shadow: inset 0.3em 0.3em 1em rgba(0, 0, 0, 0.3),
      0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255);
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
  }

  .card-title {
    font-size: 25px;
    text-align: center;
  }

  .card-group {
    display: block;
  }

  .btn {
    font-size: 15px;
    border: 5px solid #a3e1e4;
    color: black;
    margin: 0 auto;
    width: auto;
    background-color: white;
    text-transform: uppercase;
    margin-left: 5px;
    border-radius: 0px;
    opacity: 70%;
  }

  .btn:hover {
    border: 5px solid #a3e1e4;
    background-color: #a3e1e4;
    color: black;
    margin: 0 auto;
    text-transform: uppercase;
    margin-left: 5px;
    opacity: 70%;
  }
  h5 {
    font-size: 20px;
    text-align: left;
    margin: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }

  .reset {
    font-size: 15px;
    text-align: center;
    color: #057b80;
    text-decoration: none;
  }

  .reset:hover {
    font-size: 15px;
    color: #057b80;
    font-weight: bold;
    text-decoration: underline;
  }
  /*Cotizador*/

  .fondo {
    background-image: url(../img/fotocovid.jpeg);
    width: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-bottom: 20px;
  }

  .formCotizador {
    padding: 1em;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 100%;
  }

  .inputForm2 {
    background-color: #f8f8f8;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin: auto;
    padding: 10px;
  }

  label {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: left;
  }
  #calcular {
    margin: 20px;
    font-size: 20px;
    background-color: white;
    color: black;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    opacity: 70%;
  }

  #calcular:hover {
    background-color: #a3e1e4;
  }

  .btnCalcular {
    margin: 20px;
    font-size: 15px;
    color: black;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 10px;
    text-transform: uppercase;
    border: 5px solid #a3e1e4;
  }

  .btnCalcular:hover {
    opacity: 70%;
    border: 5px solid white;
  }

  #solicitud {
    font-size: 30px;
    text-align: center;
    color: #057b80;
    background-color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0px;
    border-radius: 20px;
    opacity: 90%;
  }

  /*Formulario*/

  .fondo2 {
    background-image: url(../img/contactanos2.png);
    width: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-bottom: 20px;
    margin-left: 0px;
  }

  .center {
    padding: 10px;
    text-align: center;
    background-color: #f1ebeb;
    padding: 10px;
    color: black;
    margin-bottom: 4px;
    border-radius: 20px;
  }

  .formContacto {
    padding: 1em;
    display: block;
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }

  .inputForm {
    background-color: #f8f8f8;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }

  select:focus {
    outline: none;
  }
  textarea:focus,
  input:focus {
    outline: none;
  }
  #botonEnviar {
    margin: 20px;
    font-size: 15px;
    background-color: white;
    color: black;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 10px;
    text-transform: uppercase;
    border: 5px solid #a3e1e4;
  }

  #botonEnviar:hover {
    background-color: #a3e1e4;
    color: black;
    opacity: 70%;
    border: 5px solid white;
  }

  .botonLimpiar {
    margin: 20px;
    font-size: 15px;
    background-color: white;
    color: black;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding: 10px;
    text-transform: uppercase;
    opacity: 70%;
    border: 1px solid black;
  }

  .botonLimpiar:hover {
    color: white;
    background-color: black;
    border: 1px solid white;
  }

  h3 {
    font-size: 25px;
    text-align: center;
    color: black;
  }

  #gracias {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: #057b80;
    background-color: white;
    opacity: 70%;
    margin: 0px;
  }

  h4 {
    font-size: 30px;
    text-align: center;
  }

  /*Footer*/

  .padre {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    text-align: center;
    height: auto;
  }

  .hijo {
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .columna {
    width: 100%;
    padding: 5px;
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid lightgrey;
  }

  .datos {
    text-align: center;
    margin: 0px;
  }
  .datos__texto--contenido {
    text-transform: none;
    letter-spacing: 0px;
    display: inline;
    text-align: center;
  }

  .textocontacto {
    text-decoration: none;
    color: grey;
    padding: 2px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    font-size: 8px;
  }

  a.textocontacto:hover {
    color: #11a99d;
    text-decoration: underline;
  }

  footer {
    margin: 0px;
  }
}

/*Responsive Mínimo */

@media screen and (max-width: 250px) {
  .header__logo {
    width: 100px;
    margin: 0px;
  }
  .btn2 {
    display: none;
  }

  h1 {
    font-size: 10px;
  }

  #imgwapp {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  #imgmail {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  #imgubicacion {
    width: 25px;
    height: 30px;
    padding: 5px;
  }

  /* Cards*/

  .fondo3 {
    background-image: url(../img/fondocovid1.jpeg);
    width: 100%;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-bottom: 20px;
  }
  .card {
    display: inline-block;
    text-align: left;
    font-size: 10px;
    height: auto;
    box-shadow: inset 0.3em 0.3em 1em rgba(0, 0, 0, 0.3),
      0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255);
    color: black;
    border: 2px solid white;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .card-title {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
  }

  .btn {
    font-size: 10px;
    border: 5px solid #a3e1e4;
    color: black;
    margin: 0 auto;
    width: auto;
    background-color: white;
    text-transform: uppercase;
    border-radius: 0px;
    opacity: 70%;
  }

  .btn:hover {
    border: 5px solid #a3e1e4;
    background-color: #a3e1e4;
    color: black;
    margin: 0 auto;
    text-transform: uppercase;
    margin-left: 5px;
    opacity: 70%;
  }
  .reset {
    font-size: 10px;
    text-align: center;
    color: #057b80;
    text-decoration: none;
  }

  .reset:hover {
    font-size: 15px;
    color: #057b80;
    font-weight: bold;
    text-decoration: underline;
  }
}
