@import "responsive";

/*Generales*/

* {
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
}

body {
	font-size: 10px;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

/* Header*/

header {
	position: sticky;
	top: 0px;
	width: 100%;
	z-index: 1001;
	background-color: #f1ebeb;
	box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.header__logo {
	width: 150px;
	margin: 0px;
}

.left {
	width: 40%;
}
.right {
	display: inline;
	text-align: right;
	font-size: 17px;
	letter-spacing: 2px;
}
.nav-link {
	margin-right: 20px;
	margin-left: 70px;
}

.nav-link:hover {
	background-color: white;
	opacity: 60%;
}
.active {
	font-weight: bold;
}

h1 {
	font-size: 30px;
	color: black;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
background-color: #a3e1e4;
	opacity: 50%;
	padding: 20px;
}

h2 {
	font-size: 40px;
	color: black;
	font-weight: 300;
	letter-spacing: 5px;
	text-align: center;
	margin: 20px;
	text-transform: uppercase;
	margin-bottom: 50px;
}

/*Multimedia*/

.portada {
	width: 100%;
}

.fotoCotizador {
	width: 80%;
	margin: 0px;
	display: block;
	margin-left: auto;
}

.fotoContactanos {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

#imgwapp {
	width: 40px;
	height: 40px;
	padding: 5px;
}
#imgmail {
	width: 40px;
	height: 40px;
	padding: 5px;
}
#imgubicacion {
	width: 35px;
	height: 40px;
	padding: 5px;
}

/*Botones portada*/

.button1 {
	position: absolute;
	bottom: 10%;
	left: 25%;
}

.button2 {
	position: absolute;
	bottom: 10%;
	right: 25%;
}

.btn2 {
	font-size: 10px;
	color: black;
	margin: 0 auto;
	background-color: white;
	text-transform: uppercase;
	padding: 10px;
	border: 0px solid;
	opacity: 80%;
	color: black;
	width: 200px;
	text-decoration: none;
	text-align: center;
	font-weight: 500;
}

span {
	font-size: 20px;
	color: black;
	margin: 0 auto;
	background-color: #a3e1e4;
	text-transform: uppercase;
	padding: 10px;
	border: 0px solid;
	opacity: 80%;
	display: block;
	margin-top: 2px;
}

.btn2:hover {
	color: black;
}

a span:hover {
	color: white;
	background-color: black;
}

/* Cards*/


.fondo3 {
	background-image: url(../img/fondocovid1.jpeg);
	width: 100%;
	margin: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;

}
.card {
	display: inline-block;
	margin-right: 50px;
	margin-left: 50px;
	text-align: left;
	font-size: 15px;
	height: 350px;
	box-shadow: inset 
	0.3em 0.3em 1em rgba(0, 0, 0, 0.3),
	0 -3em 3em rgba(0, 0, 0, 0.1), 

	0 0 0 2px rgb(255, 255, 255), 
	;
	color: black;
	border: 2px solid white;
	margin-top: 50px;
	margin-bottom: 50px;

}

.card-title {
	font-size: 35px;
	margin-bottom: 20px;
	text-align: center;
}


.card-group {
margin: 20px;
}

h5 {
	font-size: 20px;
	text-align: left;
	margin: 20px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

.reset {
	font-size: 15px;
	text-align: center;
	color: #057b80;
	text-decoration: none;
}

.reset:hover {
	font-size: 15px;
	color: #057b80;
	font-weight: bold;
	text-decoration: underline;
}

/*Formulario*/
.fondo {
	background-image: url(../img/fotocovid.jpeg);
	width: 100%;
	margin: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
}

.fondo2 {
	background-image: url(../img/contactanos2.png);
	width: 100%;
	margin: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	
}
.formCotizador {
	padding: 1em;
	display: block;
	width: 40%;
	text-align: center;
	opacity: 70%;
}

.center {
	padding: 10px;
	text-align: center;
}
.formContacto {
	padding: 1em;
	display: block;
	width: 40%;
	text-align: center;
	margin-left: 60%;
}

.inputForm {
	background-color: #f8f8f8;
	border-radius: 0.5em;
	border: 1px solid #ccc;
	display: block;
	width: 100%;
	font-size: 15px;
	padding: 10px;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

.inputForm2 {
	background-color: #f8f8f8;
	border-radius: 0.5em;
	border: 1px solid #ccc;
	display: block;
	width: 100%;
	font-size: 15px;
	padding: 10px;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	margin: auto;
	padding: 10px;
}

label {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding-bottom: 10px;
	text-align: left;
}
#calcular {
	margin: 20px;
	font-size: 20px;
	background-color: white;
	color: black;
	margin-top: 20px;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	opacity: 70%;

}

#calcular:hover {
	background-color: #a3e1e4;
}

.btnCalcular {
	margin: 20px;
	font-size: 15px;
	color: black;
	margin-top: 20px;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	padding: 10px;
	text-transform: uppercase;
	border: 5px solid #a3e1e4;
}

.btnCalcular:hover {
	opacity: 70%;
	border: 5px solid white;

}

.btn {
	font-size: 14px;
	border: 5px solid #a3e1e4;
	color: black;
	margin: 0 auto;
	width: 35%;
	background-color: white;
	text-transform: uppercase;
	margin-left: 5px;
	border-radius: 0px;
	opacity: 70%;
}

.btn:hover {
	border: 5px solid #a3e1e4;
	background-color: #a3e1e4;
	color: black;
	margin: 0 auto;
	text-transform: uppercase;
	margin-left: 5px;
	opacity: 70%;

}

#botonEnviar {
	margin: 20px;
	font-size: 15px;
	background-color: white;
	color: black;
	margin-top: 20px;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	padding: 10px;
	text-transform: uppercase;
	border: 5px solid #a3e1e4;

}

#botonEnviar:hover {
	background-color: #a3e1e4;
	color: black;
	opacity: 70%;
	border: 5px solid white;

}


.botonLimpiar {
	margin: 20px;
	font-size: 15px;
	background-color: white;
	color: black;
	margin-top: 20px;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	padding: 10px;
	text-transform: uppercase;
	opacity: 70%;
	border: 1px solid black;


}

.botonLimpiar:hover {
	color: white;
	background-color: black;
	border: 1px solid white;
}

#solicitud {
	font-size: 40px;
	text-align: center;
	color: #057b80;
	background-color: white;
	font-weight: bold;
	margin-top: 10px;


}

h3 {
	font-size: 25px;
	text-align: center;
	color: black;
}

#gracias {
	font-size: 20px;
	text-align: center;
	padding: 10px;
	color: #057b80;
	background-color: white;
		opacity: 50%;
	margin: 0px;
	margin-left: 60%;

}

h4 {
	font-size: 30px;
	text-align: center;
}

/*Footer*/

.padre {
	box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
	text-align: center;
	height: 70px;
}

.hijo {
	margin: 0;
	text-align: center;
	width: 100%;
}

.columna {
	width: 33%;
	padding: 15px;
	display: inline-block;
	text-align: center;
}

.datos {
	text-align: center;
	margin: 0px;
}
/*.datos__texto--titulo {
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 20px;
	padding: 5px;
	display: block;
	text-align: center;
	color: grey;
	letter-spacing: 1px;
	text-decoration: underline;
}*/

.datos__texto--contenido {
	text-transform: none;
	letter-spacing: 0px;
	display: inline;
	text-align: center;
}

.textocontacto {
	text-decoration: none;
	color: grey;
	padding: 5px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

a.textocontacto:hover {
	color: #11a99d;
	text-decoration: underline;
}

footer {
	margin: 0px;
}
